<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="ParallelSuite" parallel="tests" thread-count="3">
<listeners>
	<listener class-name="com.kart.utilities.ExtentReporting"></listener>
</listeners>
  <test name="ChromeTest">
    <classes>
      <class name="com.kart.tests.OnlineVegKartTest"/>
    </classes>
  </test>

  <!--<test name="FirefoxTest">
    <parameter name="browser" value="firefox"/>
    <parameter name="platform" value="linux"/>
    <classes>
      <class name="com.kart.tests.OnlineVegKartTest"/>
    </classes>
  </test>

  <test name="EdgeTest">
    <parameter name="browser" value="edge"/>
    <parameter name="platform" value="linux"/>
    <classes>
      <class name="com.kart.tests.OnlineVegKartTest"/>
    </classes>
  </test>-->
</suite>
